<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="FunctionalTestUserName" value="openstack" />
        <add key="FunctionalTestApiKey" value="ed5c01df86dff993db9a97e630746c7d" />
        <add key="FunctionalTestAuthUrl" value="http://auth.api.rackspacecloud.com/v1.0/" />
    </appSettings>	
</configuration>